.card {
  width: 200px;
  height: 300px;
  margin: 70px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

figure img {
	width: 75%;
	margin: 15%;
}

.card .front {
  background-color: #faebd7;
}
.card .back {
  transform: rotateY( 180deg );
  background-color: #faebd7;
}

.card.flipped {
  transform: rotateY( 180deg );
}